 .jumbotron {
     background-size: cover;
     background-position: center;
     background-image: url(../resources/blackbackground1.jpg);
     height: 150%;
     position: relative;
     top: -100%;
 }

 .jumboblack {
     /* background: linear-gradient(
        rgba(20, 20, 20, 0.25),
        rgba(20, 20, 20, 0.25)); */
     height: 100vh;
 }

 .emptyspace {
     height: 200vh;
 }

 .parallaxParent {
     height: 100vh;
     overflow: hidden;
 }

 #myname {
     color: white;
     font-size: 3.5rem;
 }

 #mytitle {
     color: white;
     font-size: 2rem;
 }

 #navlinks {
     background-color: black;
 }

 .panel {
     height: 100%;
     width: 100%;
 }

 #navstart {
     z-index: 300;
     -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
     -o-transform: translateY(-100%);
     -ms-transform: translateY(-100%);
 }

 .nav-link {
     color: rgba(255, 255, 255, .5);
     background-color: black;
     transition: color 0.2s, background-color 0.2s;
 }

 .active {
     color: black !important;
     background-color: white !important;
     transition: color 0.2s, background-color 0.2s;
 }

 #pinContainer {
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 .panelone,
 .paneltwo,
 .panelthree,
 .panelfour,
 .panelfive {
     height: 100vh;
     overflow: hidden;
     background-color: white;
 }

 /* .panelone {
 } */

 .paneltwo {
     height: 80vh;
 }

 .panelthree {
     height: 50vh;
 }

 /* .panelfour {
 }

 .panelfive {
     background-color: black;
     color: white;
 } */

 .scrollmagic-pin-spacer {
     background-color: black;
 }

 footer {
     font-size: 3em;
     opacity: 0.7;
     z-index: 500;
 }

 .invis {
     background-color: transparent;
     border: none;
     font-size: 3em;
     opacity: 0.7;
     color: #444444;
 }

 .pictures {
     width: 100%;
 }

 #picturediv {
     max-height: 60vh;
     max-width: 60vh;
 }
 .contents {
     max-width: 1000px;
 }
 ul{
     list-style-type: none;
 }
 nav > button{
     background-color: rgba(150,150,150,.2)!important;
 }

.hobbimg > img {
    object-fit: cover;
    height: 25vh;
}
.portimg > img {
    object-fit: cover;
    max-height: 25vh;
    max-width: 99vw;
}

 /* Smartwatches or some shit */

 @media (min-width: 100px) {
     .aboutmep {
         font-size: 0.7rem;
         width: 100%;
     }
     .hobbiescont{
         font-size: 0.8rem;
     }
     .hobbimg{
         max-width: 100%;
     }
     .portimg{
         width: 100%;
     }
 }

 /* Small devices (landscape phones, 544px and up) */

 @media (min-width: 544px) {
     .aboutmep {
         font-size: 1rem;
         width: 100%;
     }
 }

 /* Medium devices (tablets, 768px and up) */

 @media (min-width: 768px) {
     .aboutmep {
         font-size: 1rem;
         width: 40%;
     }
     .hobbimg{
         max-width: 33%;
     }
     .portimg{
         width: 50%;
     }
 }

 /* Large devices (desktops, 992px and up) */

 @media (min-width: 992px) {
     .aboutmep {
         font-size: 1.2rem;
         width: 40%;
     }
     .hobbiescont{
         font-size: 1rem;
     }
 }

 /* Extra large devices (large desktops, 1200px and up) */

 @media (min-width: 1200px) {
     .aboutmep {
         font-size: 1.5rem;
         width: 40%;
     }
     .hobbiescont{
         font-size: 1.2rem;
     }
 }