 .jumbotron {
     background-size: cover;
     background-position: center;
     background-image: url(blackbackground1.jpg);
     height: 150%;
     position: relative;
     top: -100%;
 }

 .jumboblack {
     /* background: linear-gradient(
        rgba(20, 20, 20, 0.25),
        rgba(20, 20, 20, 0.25)); */
     height: 100vh;
 }

 .emptyspace {
     height: 200vh;
 }

 .parallaxParent {
     height: 100vh;
     overflow: hidden;
 }

 #myname {
     color:white;
     font-size: 3.5rem;
 }

 #mytitle {
     color:white;
     font-size: 2rem;
 }

 #navlinks{
     background-color: black;
 }

 .panel{
     height: 100%;
     width: 100%;
     position: absolute;
 }

 #navstart{
     z-index: 500;
 }

 .nav-link{
    color: rgba(255,255,255,.75);
    background-color: black;
    transition: color 0.2s, background-color 0.2s;
}

 .active{
     color: black!important;
     background-color: white;
     transition: color 0.2s, background-color 0.2s;
 }